<template id="ipython-painter" data-class="IpythonPainter">
<style data-src="/src/external/font-awesome/css/font-awesome.css"></style>
<style data-src="/templates/livelystyle.css"></style>
<style>
:host {
  
}
  
  #canvas {
    border: 1px solid gray
  }
  #scaledCanvas {
    width: 28px;
    height; 28px;
  }

</style>
<canvas id="canvas"></canvas>
<div>
  
<button id='clear'>Clear</button>
<button id='send'>Send</button>
  </div>
<canvas id="scaledCanvas"></canvas>

</template>
<script class="registrationScript">lively.registerTemplate()</script>

